/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #c9e4de, #e4d8c9, #c9e4de);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Arial, sans-serif;
  }
  
  /* Centered 404 Message */
  h1 {
    font-size: 48px;
    color: #333;
  }
  